.menuMain.editor {
	padding: 1.5rem !important;
}

.menuAction {
	border-radius: 0.25rem;
	padding-top: 0.85rem;
	padding-bottom: 0.85rem;
	display: flex;
	align-items: center;
	cursor: pointer;
	transition-property: background;
	transition-duration: 200ms;
}

.menuAction:hover {
	background: var(--bs-gray-200);
}
