.loadingScreen {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.loadingScreen div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingScreen.big {
  background: black;
  z-index: 8;
}
.loadingScreen.big img {
  width: 25%;
}

.loadingScreen.small {
  background: white;
  overflow: hidden;
  z-index: 4;
}
.loadingScreen.small img {
  width: 15%;
}
